{% extends 'base.html.twig' %}

{% block title %}Edit Voituresoccasion{% endblock %}

{% block body %}
    <h1>Edit Voituresoccasion</h1>

    {{ include('voituresoccasion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_voituresoccasion_index') }}">back to list</a>

    {{ include('voituresoccasion/_delete_form.html.twig') }}
{% endblock %}
