{% extends 'base.html.twig' %}

{% block title %}New Voituresoccasion{% endblock %}

{% block body %}
    <h1>Create new Voituresoccasion</h1>

    {{ include('voituresoccasion/_form.html.twig') }}

    <a href="{{ path('app_voituresoccasion_index') }}">back to list</a>
{% endblock %}
