{% extends 'base.html.twig' %}

{% block title %}Edit Horairesouverture{% endblock %}

{% block body %}
    <h1>Edit Horairesouverture</h1>

    {{ include('horairesouverture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_horairesouverture_index') }}">back to list</a>

    {{ include('horairesouverture/_delete_form.html.twig') }}
{% endblock %}
