{% extends 'base.html.twig' %}

{% block title %}New Horairesouverture{% endblock %}

{% block body %}
    <h1>Create new Horairesouverture</h1>

    {{ include('horairesouverture/_form.html.twig') }}

    <a href="{{ path('app_horairesouverture_index') }}">back to list</a>
{% endblock %}
