{% extends 'base.html.twig' %}

{% block title %}New Equipementsoptions{% endblock %}

{% block body %}
    <h1>Create new Equipementsoptions</h1>

    {{ include('equipementsoptions/_form.html.twig') }}

    <a href="{{ path('app_equipementsoptions_index') }}">back to list</a>
{% endblock %}
